.App {
  padding: 20px 4%;
}
input{
  font-family: 'Roboto', sans-serif;
  font-size: 12px !important;
}
.form{
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 40px;
  background-color: rgba(247, 245, 245, 0.993);
  padding: 2%;
}
.intro{
 color:blanchedalmond;
}
.btn{
  background-color: black !important;
  border: black;
  
}
.btn:focus{
  outline: none !important;
  border: none !important;
}